/* Container Background Color */
.container-fluid {
    background-color: transparent;
}

/* Page Body Background */
#body-index {
    background-image: url(../images/book-731199_1920.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

/* Page Body Background */
#body-researcher {
    background-image: none;
    background-color: whitesmoke;
}

/* Page Body Background */
#body-teacher {
    background-image: none;
    background-color: whitesmoke;
}

/* Page Body Background */
#body-webdeveloper {
    background-image: none;
    background-color: whitesmoke;
}

/* Standard Row Color */
.row {
    background-color: transparent;
}

/* Text Formatting */
h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    padding-top: 10px;
    color: whitesmoke;
    text-shadow: 1px 1px black;
}

/* Text Formatting */
h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    color: whitesmoke;
    text-shadow: 1px 1px black;
}

/* Text Formatting */
#h2-index-cv {
    text-align: center;
    font-size: 15px;
    font-weight: 200;
    font-style: normal;
    text-shadow: none;
}

/* Text Formatting */
h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: black;
    text-decoration-line: underline;
}

/* Page Header */
#header-row-index {
    text-align: center;
}

/* Page Header */
#header-row-about {
    background-color: slategray;;   
    border-bottom-style: double;
    border-bottom-color: black;
    border-bottom-width: 10px;
    color: whitesmoke;
}

/* Page Header */
#header-row-researcher {
    background-color: #18453B;   
    border-bottom-style: double;
    border-bottom-color: black;
    border-bottom-width: 10px;
    color: whitesmoke;
}

/* Page Header */
#header-row-teacher {
    background-color: #13294B;    
    border-bottom-style: double;
    border-bottom-color: black;
    border-bottom-width: 10px;
    color: whitesmoke;
}

/* Page Header */
#header-row-webdeveloper {
    background-color: #003399;    
    border-bottom-style: double;
    border-bottom-color: black;
    border-bottom-width: 10px;
    color: whitesmoke;
}

/* Social Media Links */
.social-links {
    text-align: center;
 }
 
/* Icon for Social Media Links */
.fab {
    color: whitesmoke;
    height: 50px;
    line-height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    text-shadow: 2px 2px black;
}

/* Row containing nav elements */
#nav-row {
    text-align: center;
    background-color: transparent;
}

/* Nav buttons */
#btn-nav {
    width: 120px;
    height: 40px;
    background-color: whitesmoke;
    outline-style: auto;
    outline-color: black;
    text-align: center;
    color: black;
}

/* Nav buttons */
#btn-nav-index {
    width: 120px;
    height: 40px;
    background-color: gray;
    outline-style: auto;
    outline-color: black;
    text-align: center;
    color: black;
}

/* Index button to go to researcher page */
#btn-index-researcher {
    width: 200px;
    height: 45px;
    color: whitesmoke;
    background-color: #18453B;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

/* Index button to go to teacher page */
#btn-index-teacher {
    width: 200px;
    height: 45px;
    color: whitesmoke;
    background-color: #13294B;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

/* Index button to go to web dev page */
#btn-index-webdeveloper {
    width: 200px;
    height: 45px;
    color: whitesmoke;
    background-color: #003399;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

/* Index button to go to about page */
#btn-index-about {
    width: 200px;
    height: 45px;
    color: whitesmoke;
    background-color: slategray;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

/* YouTube Video Iframe */
#iframe {
    border-style: solid;
    border-color: black;
    border-width: 4px;
}

/* Card Bodies */
.card-body {
    text-align: center;
    border-style: solid;
    border-color: black;
}

/* Card Bodies (accordion only) */
#card-body-accordion {
    text-align: center;
    border-style: solid;
    border-color: black;
    border-left: 0px;
    border-right: 0px;
}

/* Card Bodies Images */
.card-img-top {
    border-style: solid;
    border-color: black;
    border-bottom: 0px;
}

/* Card Bodies (just recent works) */
#card-recent-works {
    text-align: center;
}

/* Portfolio card buttons */
.btn-portfolio {
    width: 110px;
    color: #fff;
    background-color: #007bff;
    border-color: black;
}

/* Name next to CV/Resume links */
#william-signature, #william-cv {
   text-align: left;
}

/* Container make YouTube video iframe fluid */
.intrinsic-container {
    position: relative;
    height: 0;
    overflow: hidden;
  }
   
  /* 16x9 Aspect Ratio */
  .intrinsic-container-16x9 {
    padding-bottom: 56.25%;
  }
   
  /* 4x3 Aspect Ratio */
  .intrinsic-container-4x3 {
    padding-bottom: 75%;
  }

   /* Iframe */
  .intrinsic-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/* Accordion Elements */
#accordion {
    border-style: solid;
    border-color: black;
}

/* Footers (excluding index) */
.footer {
    position: inherit;
    height: 45px;
    text-align: center;
    font-size: 10px;
    color: white;
    border-top-style: double;
    border-top-color: black;
    border-top-width: 10px;
}

/* Footer on Index Page */
#footer-index {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    font-size: 10px;
    text-align: center;
    color: whitesmoke;
    background-color: transparent;
    border: none;
}