.container-fluid {
    background-color: whitesmoke;
}

.row {
    background-color: whitesmoke;
}

#title-row {
    background-color: slategray;    
    border-bottom-style: double;
    border-bottom-color: black;
    border-bottom-width: 10px;
}

#nav-row {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: whitesmoke;
}

#btn-nav {
    width: 120px;
    height: 40px;
}


#btn-index {
    width: 200px;
    height: 45px;
}


.card-group {
    height: 400px;
}

#card-img-index {
    height: 600px;
}

.card-body {
    text-align: center;
}




.btn-portfolio {
    width: 110px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    padding-top: 10px;
}

h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}

h3 {
    font-size: 18px;
    font-weight: 400;
    text-decoration-line: underline;
}

#william-signature, #william-cv {
   text-align: left;
}

.social-links {
   text-align: center;
}

.fab {
    color: black;
    height: 50px;
    line-height: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

#nav-link {
    font-size: 18px;
    font-weight: 500;
    color: black;
}

#p-portfolio {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    text-decoration-line: underline;
}